# Terraform
**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/crash.log
**/.terraform.lock.hcl
**/backend*.tf

# Variables / config locales (souvent sensibles)
**/*.tfvars
**/*.tfvars.json

# SSH keys / secrets
**/*.pem
**/id_ed25519
**/id_ed25519.pub

# OS / IDE
.DS_Store
.vscode/
.idea/
