name: ci

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  api-tests:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: services/api
    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run pytest
        run: pytest -q

  terraform-quality:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.7.5

      - name: Terraform fmt
        run: terraform fmt -check -recursive
        working-directory: infra

      - name: Terraform init (no backend) + validate (local env)
        run: |
          terraform init -backend=false
          terraform validate
        working-directory: infra/envs/local

      - name: Install TFLint
        uses: terraform-linters/setup-tflint@v4
        with:
          tflint_version: v0.50.3

      - name: TFLint
        run: |
          tflint --init
          tflint
        working-directory: infra

      - name: Checkov (IaC security scan)
        uses: bridgecrewio/checkov-action@v12
        with:
          directory: infra
